<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.dao.PaipianMapper">
  <resultMap id="BaseResultMap" type="com.woniuxy.domain.Paipian">
    <id column="ppid" jdbcType="INTEGER" property="ppid" />
    <result column="movid" jdbcType="INTEGER" property="movid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
    <result column="ppstart" jdbcType="VARCHAR" property="ppstart" />
    <result column="ppend" jdbcType="INTEGER" property="ppend" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ppid, movid, rid, ppstart, ppend
  </sql>
  <select id="selectByExample" parameterType="com.woniuxy.domain.PaipianExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from paipian
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paipian
    where ppid = #{ppid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paipian
    where ppid = #{ppid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniuxy.domain.PaipianExample">
    delete from paipian
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniuxy.domain.Paipian">
    insert into paipian (ppid, movid, rid, 
      ppstart, ppend)
    values (#{ppid,jdbcType=INTEGER}, #{movid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, 
      #{ppstart,jdbcType=VARCHAR}, #{ppend,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.woniuxy.domain.Paipian">
    insert into paipian
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ppid != null">
        ppid,
      </if>
      <if test="movid != null">
        movid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="ppstart != null">
        ppstart,
      </if>
      <if test="ppend != null">
        ppend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ppid != null">
        #{ppid,jdbcType=INTEGER},
      </if>
      <if test="movid != null">
        #{movid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="ppstart != null">
        #{ppstart,jdbcType=VARCHAR},
      </if>
      <if test="ppend != null">
        #{ppend,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniuxy.domain.PaipianExample" resultType="java.lang.Long">
    select count(*) from paipian
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update paipian
    <set>
      <if test="record.ppid != null">
        ppid = #{record.ppid,jdbcType=INTEGER},
      </if>
      <if test="record.movid != null">
        movid = #{record.movid,jdbcType=INTEGER},
      </if>
      <if test="record.rid != null">
        rid = #{record.rid,jdbcType=INTEGER},
      </if>
      <if test="record.ppstart != null">
        ppstart = #{record.ppstart,jdbcType=VARCHAR},
      </if>
      <if test="record.ppend != null">
        ppend = #{record.ppend,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update paipian
    set ppid = #{record.ppid,jdbcType=INTEGER},
      movid = #{record.movid,jdbcType=INTEGER},
      rid = #{record.rid,jdbcType=INTEGER},
      ppstart = #{record.ppstart,jdbcType=VARCHAR},
      ppend = #{record.ppend,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniuxy.domain.Paipian">
    update paipian
    <set>
      <if test="movid != null">
        movid = #{movid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        rid = #{rid,jdbcType=INTEGER},
      </if>
      <if test="ppstart != null">
        ppstart = #{ppstart,jdbcType=VARCHAR},
      </if>
      <if test="ppend != null">
        ppend = #{ppend,jdbcType=INTEGER},
      </if>
    </set>
    where ppid = #{ppid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniuxy.domain.Paipian">
    update paipian
    set movid = #{movid,jdbcType=INTEGER},
      rid = #{rid,jdbcType=INTEGER},
      ppstart = #{ppstart,jdbcType=VARCHAR},
      ppend = #{ppend,jdbcType=INTEGER}
    where ppid = #{ppid,jdbcType=INTEGER}
  </update>
</mapper>