<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
<style>
	.saled { width:100px; height:100px; background-color:#00b9f1; cursor:pointer;background-image:url('/images/saled.png')}
	.unsale { width:100px; height:100px; background-color:#ccc; cursor:pointer; background-image:url('/images/unsale.png')}
</style>
</head>
<body>
	<div id="app">

	
		<table class="table table-bordered">
			<tr v-for="(srow,i) in seats">
				<td v-for="(scolumn,j) in srow" :class="scolumn == 1 ? 'saled' : 'unsale'" @click="toggle(i,j)">
				</td>
			</tr>
		</table>
		
		<div>
			rid<input type="text" v-model="rid" />
		 	<button type="submit" @click="choose">确定座位</button>
		 	<button type="submit" @click="findSeats">查看布局</button>
		</div>
	</div>
	
	<script>
		var vue = new Vue({
			el:"#app",
			data: {
				rid:'',
				// 0 表示空位置， 1表示有人
				returnseats:[],
				seats: [
					[0,0,0,0,0,0,0,0,0],
					[0,0,0,0,0,0,0,0,0],
					[0,0,0,0,0,0,0,0,0],
					[0,0,0,0,0,0,0,0,0],
					[0,0,0,0,0,0,0,0,0],
					[0,0,0,0,0,0,0,0,0],
				]
			},
			created() {
				
			},
			methods: {
				toggle(i,j) {
					var copyArr = this.seats.slice();
					copyArr[i][j] = copyArr[i][j] == 1 ? 0 : 1;
					this.seats = copyArr;
				},
				
				findSeats(){
					this.$http.get("http://localhost/seats").then(function(result){
						this.seats=result.body;
					});
				},
				//选座位
				choose() {
					var order_seats = [];
					
					// 把那些已经被占的座位的坐标，存入这个order_seats中。
					
					for(i in this.seats) {
						for(j in this.seats[i]) {
							if(this.seats[i][j] == 0) {
								order_seats.push({srow:i,scolumn:j});
							}
						}
					}
					
					
					// 次数应该把选好的作为的坐标集合，发送给后端程序。        
					this.$http.post("http://localhost/seats",{rid:this.rid, sstate:0,xb:order_seats,}).then(function(){
						//this.findAll();
						this.rid=this.sstate='';
					});
				}
			}
		});
	
		
	</script>
</body>
</html>